# Ignore node_modules directory
node_modules

# Ignore package-lock.json
package-lock.json

# Ignore environment files
.env
.venv

# Ignore coverage report files
coverage
coverage.json

# Ignore TypeChain files
typechain
typechain-types

# Ignore Hardhat cache and artifacts
cache
artifacts
